.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heart {
  color: #ff0000;
}

.small {
  font-size: 0.75rem;
}

img {
  object-fit: contain;
  height: 65%;
  width: 65%;
  padding: 2%;
  border-radius: 10%;
}

button {
  height: 100px;
  width: 100px;
  font-size: 80px;
  align-content: center;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 50%;
  background-color:#2f4f4f;
  color:aliceblue;
  border: 1px solid #243f3f;
}

h1 {
  font: bold 40px Verdana, sans-serif;
}